body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-y: auto; 
}

.topo {
  padding: -20%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(243, 161, 231, 0.949);
  
}

.h1 {
  color: rgba(243, 161, 231, 0.949);
}
.navbar {
  background-color: #e879d9;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: #c23abb;
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d98fcf;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
}

.submenu li a {
  padding: 12px 16px;
  color: white;
}

.submenu li a:hover {
  background-color: #c23abb
}


.dropdown:hover .submenu {
  display: block;
}
 

.top-bar {
  position: fixed;
  top: 65.5px;
  left: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  z-index: 10;
}

.top-left {
  display: flex;
  gap: 10px;
}



  
  .texto-sobre {
    position: absolute;
    top: 50%; 
    left: 7.3%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 15.8px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(158, 7, 93, 0.7); 
    z-index: 1; 
    cursor: pointer;
    transition: transform 15.0s ease;
}
.texto-sobre:hover {
  transform: scale(0.1);
}

.texto1 {
  color: rgba(255, 105, 205, 0.904);
}  
 .texto-sobre5 {
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(84, 0, 48, 0.7); 
    font-size: 17.8px;

}


  .texto-sobre1 {
    position: absolute;
    top: 50%; 
    left: 7.7%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 17.4px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(158, 7, 93, 0.7); 
    z-index: 1; 
     cursor: pointer;
    transition: transform 15.0s ease;
}
.texto-sobre1:hover {
  transform: scale(0.1);
}
  
  
 .texto-sobre3 {
    position: fixed;
    top: 57.5%; 
    left: 50.8%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 37.4px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(2, 22, 72, 0.7); 
    z-index: 1; 
     cursor: pointer;
    transition: transform 15.0s ease;
}
.texto-sobre3:hover {
  transform: scale(0.1);
}

 
.title-container {
   position: fixed;
  top: 130px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.title {
  width: 945px;
  transform: scale(1.2); 
}


.main-buttons {
  position: fixed;
  top: 455px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px;
  z-index: 5;

}




.botao-iniciar {
  width: 440px;
  height: 175px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.botao-iniciar:hover {
  transform: scale(1.1);
}



.botao-tutorial {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.botao-tutorial:hover {
  transform: scale(1.1);
}
 a {
        color: inherit; 
        text-decoration: none; 
    }

  
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        text-decoration: none;
    }
    main {
  flex: 1;
   margin-bottom: 150px;
  padding-bottom: 100px;
}


    .site-footer {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height:600px;      
  padding-bottom: 200px; 
}


.site-footer {
  
  background-color: #e879d9;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .botao-tutorial {
    width: 100px;
     position: fixed;
  top: 65.5px;
  left: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  z-index: 10;
  }

  .texto-sobre3 {
    font-size: 24px;
  }

  .botao-iniciar {
    width: 280px;
    height: 120px;
  }
}


@media (max-width: 768px) {
  .botao-tutorial {
    width: 120px;
     position: fixed;
  top: 65.5px;
  left: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  z-index: 10;
  }

  .texto-sobre3 {
    font-size: 30px;
  }

  .botao-iniciar {
    width: 360px;
    height: 140px;
  }
}


@media (min-width: 769px) {
  .botao-tutorial {
    width: 150px;
     position: fixed;
  top: 65.5px;
  left: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  z-index: 10;
  }

  .texto-sobre3 {
    
    font-size: 37.4px;
  }

  .botao-iniciar {
    width: 440px;
    height: 175px;
  }
}





